html {
  font-size: 16px;
  font-family: Microsoft JhengHei;
  scroll-behavior: smooth;
}

:target{
  scroll-margin-top: 70px;
}

body {
  background: #1f2937;
}

.container {
  margin: 0px auto;
}

.text_color_hex {
  color: darkorange;
}

.text_color_white {
  color: white;
}

.bg_title_text_sm {
  margin-top: 20px;
  font-size: 1.5rem;
  font-weight: bolder;
}

.bg_text_lg {
  padding: 100px 200px 0px 200px;
}

.bg_text_lg h2 {
  margin-top: 30px;
  font-size: 3rem;
  font-weight: bolder;
  text-align: center;
}

.bg_text_lg span {
  text-align: center;
  display: block;
}

.title {
  padding: 20px 40px;
  background-color: #eb9457;
}

.title h2 {
  color: white;
  font-size: 2rem;
  font-weight: bold;
}

/* header */

.header {
  height: 80vh;
  background-position: center center;
}

.bg_index {
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  background-image: url("../images/stars1.jpg");
  background-size: cover;
}

.reset_button {
  float: left;
  color: white;
  cursor: pointer;
  margin: 6px;
}

/* nav */

.menu {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 0px 40px;
  position: fixed;
  top:0;
  left:0;
  right: 0;
}

.name {
  display: flex;
  float: left;
  height: 70px;
}

.name h3 {
  color: white;
  padding: 5px 5px;
}

.menu ul li {
  float: right;
  list-style: none;
}

.menu ul li a {
  display: block;
  padding: 0px 15px;
  height: 70px;
  line-height: 70px;
  color: white;
  text-decoration: none;
}

.menu ul li a:hover,
.menu ul li a:focus {
  color: darkorange;
}

.menu_bar {
  margin: 0;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.pos_center {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.ball {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-image: linear-gradient(
    -180deg,
    #ff0017 0%,
    #ff0017 45%,
    #000000 45%,
    #000000 55%,
    #ffffff 55%,
    #ffffff 100%
  );
  border: 2px solid #000000;
  position: relative;
  margin: auto 0;
}

.ball_ball {
  width: 45%;
  height: 45%;
  border-radius: 100%;
  background: #000000;
}

.ball_ball_ball {
  width: 75%;
  height: 75%;
  border-radius: 100%;
  background: #ffffff;
}

.ball_ball_ball_ball {
  width: 72%;
  height: 72%;
  border-radius: 100%;
  background: #ffffff;
  border: 2px solid #000000;
}

/* search_bar */

.textbox_style {
  width: 100%;
  padding: 14px 0px;
  border: 0px;
  letter-spacing: 1px;
  border-radius: 5px;
  margin-bottom: 15px;
}

.search {
  text-align: center;
  margin-top: 30px;
  position: relative;
}

.search_icon {
  position: absolute;
  right: 0px;
  top: 0px;
}
.search_btn {
  width: 45px;
  height: 45px;
  background-color: transparent;
  border: 0px;
}

.search_icon:hover {
  background-color: #dddddd;
  border-radius: 0px 5px 5px 0px;
  transition: all 0.3s;
}

/*  */

.pokemon-advance-search__type {
  width: 10%;
  margin: 0;
  float: left;
  text-align: center;
  cursor: pointer;
  outline: 0;
  border-radius: 1em;
  position: relative;
  border: 1px solid #000;
  margin: 5px;
}

.normal_color {
  color: #dcdcdc;
  border-color: #dcdcdc;
}

.normal_color:hover,
.normal_color:focus,
.card_normal_color {
  border-color: #dcdcdc;
  background-color: #a0a0a0;
  box-shadow: 0 0 0.25em 0.03em #a0a0a0;
}

.fire_color {
  color: #ff6900;
  border-color: #ff6900;
}

.fire_color:hover,
.fire_color:focus,
.card_fire_color {
  border-color: #ff6900;
  background-color: #ff3700;
  box-shadow: 0 0 0.25em 0.03em #ff3700;
}

.water_color {
  color: #14b9ff;
  border-color: #14b9ff;
}

.water_color:hover,
.water_color:focus,
.card_water_color {
  border-color: #14b9ff;
  background-color: #0094e5;
  box-shadow: 0 0 0.25em 0.03em #0094e5;
}

.grass_color {
  color: #b4f000;
  border-color: #b4f000;
}

.grass_color:hover,
.grass_color:focus,
.card_grass_color {
  border-color: #b4f000;
  background-color: #92bf19;
  box-shadow: 0 0 0.25em 0.03em #92bf19;
}

.electric_color {
  color: #ffe100;
  border-color: #ffe100;
}

.electric_color:hover,
.electric_color:focus,
.card_electric_color {
  border-color: #ffe100;
  background-color: #e4b700;
  box-shadow: 0 0 0.25em 0.03em #e4b700;
}

.ice_color {
  color: #14f5ff;
  border-color: #14f5ff;
}

.ice_color:hover,
.ice_color:focus,
.card_ice_color {
  border-color: #14f5ff;
  background-color: #00b7ee;
  box-shadow: 0 0 0.25em 0.03em #00b7ee;
}

.fighting_color {
  color: #dc6900;
  border-color: #dc6900;
}

.fighting_color:hover,
.fighting_color:focus,
.card_fighting_color {
  border-color: #dc6900;
  background-color: #c85500;
  box-shadow: 0 0 0.25em 0.03em #c85500;
}

.poison_color {
  color: #d28cd2;
  border-color: #d28cd2;
}

.poison_color:hover,
.poison_color:focus,
.card_poison_color {
  border-color: #d28cd2;
  background-color: #be78be;
  box-shadow: 0 0 0.25em 0.03em #be78be;
}

.ground_color {
  color: #fac85a;
  border-color: #fac85a;
}

.ground_color:hover,
.ground_color:focus,
.card_ground_color {
  border-color: #fac85a;
  background-color: #cca142;
  box-shadow: 0 0 0.25em 0.03em #cca142;
}

.flying_color {
  color: #78dcff;
  border-color: #78dcff;
}

.flying_color:hover,
.flying_color:focus,
.card_flying_color {
  border-color: #78dcff;
  background-color: #79bcd7;
  box-shadow: 0 0 0.25em 0.03em #79bcd7;
}

.psychic_color {
  color: #f08cdc;
  border-color: #f08cdc;
}

.psychic_color:hover,
.psychic_color:focus,
.card_psychic_color {
  border-color: #f08cdc;
  background-color: #dc78c8;
  box-shadow: 0 0 0.25em 0.03em #dc78c8;
}

.bug_color {
  color: #46c846;
  border-color: #46c846;
}

.bug_color:hover,
.bug_color:focus,
.card_bug_color {
  border-color: #46c846;
  background-color: #32b432;
  box-shadow: 0 0 0.25em 0.03em #32b432;
}

.rock_color {
  color: #b48c64;
  border-color: #b48c64;
}

.rock_color:hover,
.rock_color:focus,
.card_rock_color {
  border-color: #b48c64;
  background-color: #a07850;
  box-shadow: 0 0 0.25em 0.03em #a07850;
}

.ghost_color {
  color: #a08cff;
  border-color: #a08cff;
}

.ghost_color:hover,
.ghost_color:focus,
.card_ghost_color {
  border-color: #a08cff;
  background-color: #8c78f0;
  box-shadow: 0 0 0.25em 0.03em #8c78f0;
}

.dragon_color {
  color: #5078dc;
  border-color: #5078dc;
}

.dragon_color:hover,
.dragon_color:focus,
.card_dragon_color {
  border-color: #5078dc;
  background-color: #3c64c8;
  box-shadow: 0 0 0.25em 0.03em #3c64c8;
}

/* .pokemon_list */

.pokemon_list {
  display: flex;
  flex-wrap: wrap;
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}
.pokemon_list > i {
  width: 260px;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 45px;
  margin-inline-end: 45px;
}

.card_front {
  height: 350px;
  width: 260px;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 4px;
  vertical-align: top;
  backface-visibility: hidden;
  transition: 0.6s;
  transform-style: preserve-3d;
  position: absolute;
  top: 0;
  left: 0;
}

.card_back {
  height: 350px;
  width: 260px;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 4px;
  vertical-align: top;
  backface-visibility: hidden;
  transition: 0.6s;
  transform-style: preserve-3d;
  transform: rotateY(-180deg);
}

.pokemon_card:hover .card_back {
  transform: rotateY(0deg);
}
.pokemon_card:hover .card_front {
  transform: rotateY(180deg);
}

.pokemon_card {
  flex-grow: 1;
}

.pokemon_card h3 {
  display: inline-block;
  color: white;
  margin: 0.5rem;
}

.pokemon_card img {
  width: 200px;
  display: block;
  margin: auto;
}

.pokemon_card h4 {
  font-size: 16px;
  color: darkorange;
  display: block;
  letter-spacing: 2px;
  padding: 0px 0.25rem;
  float: right;
}

.pokemon_card_type {
  width: 30%;
  text-align: center;
  float: left;
  position: relative;
  border-radius: 1em;
  margin: 0.25em;
  color: white;
}

.pokemon_card_type2 {
  width: 30%;
  text-align: center;
  float: right;
  position: relative;
  border-radius: 1em;
  margin: 0.25em;
  color: white;
}

/* pokemon_guess */

.pokemon_guess {
  height: 1400px;
  background-color: #eb9457;
  padding-left: 150px;
  padding-right: 150px;
  text-align: center;
}

.pokemon_guess input {
  width: 150px;
  height: 50px;
  border: 0;
  background-color: #003366;
  color: white;
  border-radius: 10px;
  margin-top: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}

.pokemon_guess img {
  height: 200px;
  width: 200px;
  display: block;
  margin: 20px auto 0px;
  transition: 0.6s;
  filter: brightness(0);
}

.pokemon_guess h3 {
  margin-top: 0;
  color: white
}

.pokemon_guess input:hover {
  background-color: #ff9933;  
}

@media (max-width: 767px) {
  .bg_text_lg {
    padding: 50px 10px 0px 10px;
  }
  .pokemon_list {
    display: block;
    max-width: 768px;
  }
  .pokemon_card {
    flex-grow: 0;
  }
  .card_front {
    width: -webkit-fill-available;
  }

  .card_back {
    width: -webkit-fill-available;
  }

  .pokemon_guess img {
    width: 100%;

  }
}
