<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/all.css" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.1.1/css/all.css"
      integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ"
      crossorigin="anonymous"
    />
    <title>PokémonMasterEason</title>
  </head>
  <style>
    @import "https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css";
  </style>
  <body>
    <div id="app">
      <div id="pege1" class="container">
        <header class="header bg_index">
          <nav class="menu clearfix">
            <div class="name">
              <div class="ball">
                <div class="ball_ball pos_center">
                  <div class="ball_ball_ball pos_center">
                    <div class="ball_ball_ball_ball pos_center"></div>
                  </div>
                </div>
              </div>
              <h3>PokémonMasterEason</h3>
            </div>
            <ul class="menu_bar">
              <li>
                <a href="#pege2">我是誰</a>
              </li>
              <li>
                <a href="#pege1" name="index">首頁</a>
              </li>
            </ul>
          </nav>
          <div class="bg_text_lg">
            <h2 class="text_color_white">一起來認識寶可夢吧！</h2>
            <span class="bg_title_text_sm text_color_hex"
              >使用名稱或圖鑑編號搜索</span
            >
            <div class="search">
              <input
                @keyup.enter="search()"
                v-model="key_word"
                type="text"
                name="search"
                class="textbox_style"
              />
              <div class="search_icon">
                <button @click="search()" class="search_btn">
                  <i class="fas fa-search fa-2x"></i>
                </button>
              </div>
            </div>
            <div>
              <pokemon-advance-type
                @click="filterAdvType(adv.value)"
                v-for="(adv, adv_index) in advances"
                :key="adv_index"
                :advance-type="advances[adv_index].name"
              ></pokemon-advance-type>
            </div>

            <label for="" class="reset_button" @click="reset">重置</label>
          </div>
        </header>
      </div>
      <div class="pokemon_list">
        <pokemon-card v-for="(pokemon, pokemon_index) in pokemons" :key="pokemon_index" :pokemon-detail="pokemon"></pokemon-card> 
        <i></i><i></i><i></i><i></i><i></i>
      </div>
      <div id="pege2" class="title">
        <h2>
          我是誰？
        </h2>
      </div>
      <div class="pokemon_guess">
        <input @click="created" type="button" value="出題">
        <img :style="answer? {'filter': 'brightness(100%)'} : {'filter': 'brightness(0)'}" @click="openAnwer" :src="selected_pokemon.img_url" alt="" />
        <h3 v-if="answer">{{ selected_pokemon.name }}</h3>
      </div>
    </div>
  </body>
</html>
<script src="https://unpkg.com/vue"></script>
<script src="https://unpkg.com/http-vue-loader"></script>
<script type="module" src="./js/pokemon.js"></script>
